.btn {
  display: inline-block;
  padding: 12px 24px;
  font-weight: 400;
  font-size: 16px;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  color: var(--white);

  border: 1px solid var(--white);
  border-radius: 6px;

  outline: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;

  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, outline 0.3s ease-in-out;
}
.btn.hide {
  display: none;
}
.btn:focus {
  outline: 1px solid var(--white);
}
.btn:hover {
  background-color: rgb(255, 255, 255, 0.1);
}
.btn:active {
  background-color: rgb(255, 255, 255, 0.2);
}

.btn_lg {
  padding: 24px 40px;
  font-size: 24px;
}

@media (max-width: 1440px) {

  .btn_lg {
    padding: calc(12px + (24 - 12) * ((100vw - 320px) / (1440 - 320))) calc(24px + (40 - 24) * ((100vw - 320px) / (1440 - 320)));
    font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1440 - 320)));
  }

}

@media (max-width: 500px) {
  .btn_header {
    display: none;
  }
}