.wrapper {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-black);
}
.main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 12em 0 12em 0;
  background-attachment: scroll, fixed;
  background-image: url(/img/overlay.png), url(/img/main_bg.webp);
  background-position: top left, center center;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover; */
  color: #fff;

    background-image: url('/img/main_bg.webp');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.main::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.main-wrapper {
  padding: 222px 0 223px 0;
  position: relative;
  z-index: 2;
}

.main__btn-wrapper {
  margin: 40px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.main__title {
  max-width: 920px;
  text-align: center;
}
.main__subtitle {
  margin: 32px 0 0 0;
  text-align: left;
  color: var(--font-white);
}


.phone__link {
  padding: 12px 24px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  color: var(--font-white);
  /* text-transform: uppercase; */

  border: 1px solid var(--white);
  border-radius: 6px;

  outline: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;

  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, outline 0.3s ease-in-out;

}
.phone__link:focus {
  outline: 1px solid var(--white);
  background-color: rgba( 255, 255, 255, 0.1);

}
.phone__link:hover {
  background-color: rgba( 255, 255, 255, 0.1);
}
.phone__link:active {
  background-color: rgba( 255, 255, 255, 0.2);

}


@media (max-width: 1440px) {
  .main__title {
    max-width: calc(290px + (919 - 290) * ((100vw - 320px) / (1440 - 320)));
  }
  .main-wrapper {
    padding: calc(107px + (222 - 107) * ((100vw - 320px) / (1440 - 320))) 0 calc(40px + (223 - 40) * ((100vw - 320px) / (1440 - 320))) 0;
  }
  .main__subtitle {
    margin: calc(16px + (35 - 16) * ((100vw - 320px) / (1440 - 320))) 0 0 0;
  }
}

@media (max-width: 767px) {

}
