.particular__table-wrapper {
  border-radius: 10px;
  border: 1px solid var(--dark-);
  box-shadow: var(--box-shadow)
}
.particulars__table {
  overflow: hidden;
  border-collapse: collapse;
  width: 100%;
}
.particulars__table td {
  padding: 12px 24px;
  text-align: left;
  border: 1px solid var(--grey);
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: var(--grey);
}
.particulars__table tr:first-child td {
  border-top: none;
}
.particulars__table tr td:first-child {
  border-left: none;
}
.particulars__table tr td:last-child {
  border-right: none;
}
.particulars__table tr:last-child td {
  border-bottom: none;
}